@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Comic Neue', cursive;
}

body{
	background:linear-gradient(120deg,#3498db,#8e44ad);
}

.main_div{
  height: 100vh;
}
.card{
  border:none;
  border-top: 5px solid rgb(176,106,252);
  background: #212042;
  color: #57557a;
}

p{
  font-size: 20px;
  font-weight: 500;
}

a{
  text-decoration: none;
}

.fab{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #2a284d;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.fab:hover{
  cursor: pointer;
  background: #aaafff;
}


.fa-twitter{
  color: #56abec;
}

.fa-instagram{
  color: #fe4164;
}

.fa-facebook{
  color: #1775f1;
}

.division{
  width: 100%;
  text-align: center;
  margin: 30px auto 20px;
}

.main-heading{
  font-size: 25px;
  font-weight: 500;
}

.myform{
  padding: 0 25px 0 35px;
}
.form-control{
  border: 1px solid #57557a;
  border-radius: 2px;
  background: #212042;
  margin-bottom: 20px; 
  letter-spacing: 1px;
}

.form-control:focus{
  border: 1px solid #57557a;
  border-radius: 5px;
  background: #212042;
  box-shadow: none; 
  letter-spacing: 1px;
  color: #ffffff;
}

.bn{
  text-decoration: underline;
}

.bn:hover{
  cursor: pointer;
}

.form-check-input{
  width: 1rem!important;
  height: 1rem!important;
  margin-top: 5px; 
}

.btn-primary{
  background: linear-gradient(135deg,rgba(175,106,252,1)39%,rgba(116,17,225,1)100%)!important;
  border: none;
  border-radius: 50px;
}

.small{
  color: #f2ceff;
}

.register{
  color: #57557a;
  text-decoration: underline;
}

.register:hover{
  color: white;
  text-decoration: none;
}

.bubbles img{
  width: 50px;animation: bubble 4s linear infinite;
}

.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

@keyframes bubble{
  0%{transform: translateY(0);
    opacity: 0;}

  50%{opacity: 1;}

  70%{opacity: 1;}

 100%{transform: translateY(-80vh);
    opacity: 0;}

}

.bubbles img:nth-child(1){
  animation-delay: 2s;
  width: 25px;
}

.bubbles img:nth-child(2){
  animation-delay: 1s;
}

.bubbles img:nth-child(3){
  animation-delay: 3s;
  width: 25px;
}

.bubbles img:nth-child(4){
  animation-delay: 4.5s;
}

.bubbles img:nth-child(5){
  animation-delay: 3s;
}

.bubbles img:nth-child(6){
  animation-delay: 2s;
  width: 20px;
}

.bubbles img:nth-child(7){
  animation-delay: 2.5s;
  width: 35px;
}